[Unit]
Description=Yach Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=/bin/cp /etc/hosts /etc/hosts.backup
#ExecStartPre=/usr/bin/docker pull markcial/yacht
ExecStart=/usr/bin/docker run \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v /etc/hosts:/hosts \
  --name yacht.service markcial/yacht
ExecStopPost=/bin/cp /etc/hosts.backup /etc/hosts
ExecStop=/usr/bin/docker rm -f yacht.service

[Install]
WantedBy=multi-user.target
